bin-debug
bin-release
html-template
.actionScriptProperties
.DS_Store
assets/swf/assets.html
bin-debug/SnakeFun.swf
resources

/build-SWF/_Arial.swf
/build-swf/com
/build-SWF/history
/build-SWF/CreamCheese.html
/build-SWF/playerProductInstall.swf
/build-SWF/swfobject.js